body {
  overflow-y: scroll;
  scrollbar-width: none;
  margin: 0;
  background: #77DF6D;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  width: 100%;
  background-color: #333;
  padding: 20px;
  text-align: center;
  color: white;
  box-sizing: border-box;
}

#field {
  padding: 20px;
}

.hand {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 10px;
  background: #e0e713;
}

.card {
  width: 100px;
  height: 150px;
  background-color: #3498db;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  cursor: pointer;
  padding: 10px;
}

.number {
  font-size: 24px;
  font-weight: bold;
}

.bull {
  font-size: 16px;
}

.row {
  display: flex;;
}